$red: #DA3D2D;
$orange: #DA702D;
$yellow: #FDB702;
$green: #A2E901;
$blue: #01A2E9;
$purple: #A279EF;
$pink: #FE4EDA;

$background: #171613;
$secondarybackground: #262421;

$text: #eee;
$disabled: #51576E;