@use '../abstracts/colors' as clr;
@import '../abstracts/mixins';

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: .4rem;

    box-shadow: 0 0 0.5rem .3rem rgba(0, 0, 0, 0.3),
                inset 0 0 .5rem rgba(0, 0, 0, 0.4);

    padding: 18px 24px;

    background-color: clr.$secondarybackground;
    color: clr.$text;

    transition: opacity .5s;
    opacity: 0;

    &[open] {
        opacity: 1;
        animation: fadeIn .3s ease-in;
    }

    &::backdrop {
        background: linear-gradient(45deg, clr.$purple, clr.$blue);
        opacity: .4;
        filter: blur(8px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}