@{
    
}

<section id="option__container">
    <div id="option__list">
        <div class="option__card card-medium option-join">
            <a asp-controller="Spel" asp-action="AvailableGames" class="option__link link-yellow">
                <h1 id="option__join" class="option__title">Join</h1>
                <h5 class="option__label">Match</h5>
            </a>
        </div>
        <div class="option__card card-small option-quick-join">
            <a asp-controller="Spel" asp-action="AvailableGames" class="option__link link-pink">
                <h1 id="option__join" class="option__title">Quick</h1>
                <h5 class="option__label">Match</h5>
            </a>
        </div>
        <div class="option__card card-small option-create">
            <a asp-controller="Spel" asp-action="Create" class="option__link link-blue">
                <h1 id="option__create" class="option__title">Create</h1>
                <h5 class="option__label">Match</h5>
            </a>
        </div>
        <div class="option__card card-wide option-stats">
            <a asp-controller="Spel" asp-action="GlobalStats" class="option__link link-purple">
                <h1 id="option__history" class="option__title">Stats</h1>
                <h5 class="option__label">Match</h5>
            </a>
        </div>
        
        <div class="option__card card-medium option-history">
            <a asp-controller="Spel" asp-action="History" class="option__link link-green">
                <h1 id="option__history" class="option__title">History</h1>
                <h5 class="option__label">Match</h5>
            </a>
        </div>
    </div>
</section>
