<section class="waiting__content">
    <div class="box">
    </div>
    
    <div class="box-2">
    </div>
    
    <div>
        <h2 class="waiting__content__title">Waiting</h2>
        <span id="online__player__counter" class="waiting__content__subtitle">players online: 37</span>
    </div>
</section>
