.btn {
    background-color: var(--highlight-blue);
    color: white;
    border: none;
    outline: none;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    font-family: "Poppins", "Ubuntu", sans-serif;
    box-shadow: 0px 5px 10px black;

    transition: all .3s;
    cursor: pointer;
    border-radius: .2rem;

    &:hover {
        box-shadow: 0px .3rem .6rem -.1rem black;
        transform: scale(1.03);
    }

    &:active {
        box-shadow: 0px .1rem .2rem black;
        transform: scale(.991);
    }

    &__80 {
        width: 80%;
    }

    


}