@use '../abstracts/colors' as clr;

.game__card {
    position: relative;
    background-color: clr.$secondarybackground;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: .175rem;

    transition: .3s;
    
    // Animation purposes
    opacity: 0;
    transform: scale(.5);

    &__action__title {
        display: none;
    }

    &__player__info {
        height: 100%;
    }

    &__game__info {
        width: 65%;
        //background-color: red;
    }

    &.wide {
        position: relative;
        grid-row: span 1;
        grid-column: span 2;

        border: .1em solid clr.$blue;
        //background-color: clr.$blue;

        &:hover {
            & > div {
                backdrop-filter: blur(3px);

                & > p {
                    display: flex;
                    position: absolute;
                }
            }
        }

        & > div {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            //align-items: center;
            //background-color: red;

            &:first-of-type {
                align-items: center;
            }

            padding: .5em;

            & > h2 {
                text-align: center;
            }

            & > p {
                display: none;
                // line-height:20px;
                // height: 30%;

                // padding-bottom: .3em;

                // overflow:hidden;
                // word-break: break-word;
                // white-space: normal;

                // font-size: var(--fs-300);
            }

            & > div {
                display: flex;
                justify-content: space-evenly;
                
                & > div {
                    //background-color: red;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    &.tall {
        grid-row: span 2;
        grid-column: span 1;

        border: .1em solid clr.$purple;
        //background-color: clr.$purple;
        --card-display: none;

    }

    &.small {
        grid-row: span 1;
        grid-column: span 1;

        border: .1em solid clr.$green;
        //background-color: clr.$green;
        --card-display: none;
    }

    &.medium {
        grid-row: span 2;
        grid-column: span 2;

        border: .1em solid clr.$red;
        //background: clr.$red;
        --card-display: none;
    }
    
    &.show {
        opacity: 1;
        transform: scale(1);
        transition: 
            opacity .3s ease-in,
            transform .4s ease-in;

    }

    &__game__info {
        display: var(--card-display);
    }
}