@use '../abstracts/colors' as clr;

::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: clr.$secondarybackground; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: .1em solid clr.$purple;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: clr.$purple; 
}