@use '../../../abstracts/colors' as clr;

.manage__personal__data {
    color: clr.$text;

    margin: 1.33em; 

    #download-data {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        margin: 1.33em; 
        display: flex;
        justify-content: flex-end;
    }

    #delete  {
        right: 20%;
        margin-right: 1.33em; 

        display: flex;
        justify-content: center;
    }

    P {
        font-weight: 300;
    }

    strong {
        font-weight: 700;
        letter-spacing: 1px;
    }
}