@{

}

<div class="history__content">
    <div class="history__list">
        <div class="history__list__item left item-win">
            <div class="history__centerline"></div>
            <span class="history__list__item__icon material-icons">emoji_events</span>
            <section>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Win</span>
                    <span>18-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut pharetra odio, nec egestas libero. Nullam id hendrerit odio, sit amet finibus orci. Morbi sapien magna, placerat vitae pulvinar semper, faucibus id odio.</p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- Baas500</i>
                </div>
            </section>
        </div>
        <div class="history__list__item right item-loss">
            <div class="history__centerline"></div>
            <span class="history__list__item__icon material-icons">trending_down</span>
            <section>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Loss</span>
                    <span>17-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut pharetra odio, nec egestas libero. </p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- roobdino</i>
                </div>
            </section>
        </div>
        <div class="history__list__item left item-draw">
            <div class="history__centerline"></div>
            <span class="history__list__item__icon material-icons">handshake</span>
            <section>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Draw</span>
                    <span>16-12-2021</span>
                </div>
                <p>Game omschrijving</p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- loltimo5</i>
                </div>
            </section>
        </div>
        <div class="history__list__item right item-stats">
            <div class="history__centerline"></div>
            <span class="history__list__item__icon material-icons">workspace_premium</span>
            <section>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">New Achievement</span>
                    <span>17-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut pharetra odio, nec egestas libero. </p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- roobdino</i>
                </div>
            </section>
        </div>
       
        <div class="history__list__item left item-draw">
            <div class="history__centerline"></div>
            <span class="history__list__item__icon material-icons">handshake</span>
            <section>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Draw</span>
                    <span>16-12-2021</span>
                </div>
                <p>Game omschrijving</p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- loltimo5</i>
                </div>
            </section>
        </div>

        <div class="history__list__item right item-win">
            <div class="history__centerline"></div>
            <span class="history__list__item__icon material-icons">emoji_events</span>
            <section>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Win</span>
                    <span>17-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut pharetra odio, nec egestas libero. </p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- roobdino</i>
                </div>
            </section>
        </div>
          @*<div class="history__list__item right">
            <section>
                <span class="history__list__item__icon material-icons">trending_down</span>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Loss</span>
                    <span>17-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut pharetra odio, nec egestas libero. </p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- roobdino</i>
                </div>
            </section>
        </div>
        <div class="history__list__item left">
            <section>
                <span class="history__list__item__icon material-icons">handshake</span>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Draw</span>
                    <span>16-12-2021</span>
                </div>
                <p>Game omschrijving</p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- loltimo5</i>
                </div>
            </section>
        </div>
         <div class="history__list__item right">
            <section>
                <span class="history__list__item__icon material-icons">trending_down</span>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Loss</span>
                    <span>17-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut pharetra odio, nec egestas libero. </p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- roobdino</i>
                </div>
            </section>
        </div>
        <div class="history__list__item left">
            <section>
                <span class="history__list__item__icon material-icons">handshake</span>
                <div class="history__list__item__details">
                    <span class="history__list__item__details__title">Draw</span>
                    <span>16-12-2021</span>
                </div>
                <p>Game omschrijving</p>
                <div class="history__list__item__footer">
                    <div class="history__list__item__footer__labels">
                        <span class="history__list__item__footer__label label-moves">2345</span>
                        <span class="history__list__item__footer__label label-highscore">highscore</span>
                        <span class="history__list__item__footer__label label-fastest">fastest</span>
                    </div>
                    <i>- loltimo5</i>
                </div>
            </section>
        </div> *@
    </div>
</div>