@use '../../components/option-card';
@import '../../abstracts/mixins';

#option__container {
    width: 100%;
    height: calc(100vh - 72px - 64px);

    margin-top: 72px;
    display: flex;
    justify-content: center;
}

#option__list {
    @include for-tablet-portrait-up {
        
        margin-top: 5%;
        height: 90%;

        aspect-ratio: 1 / 1;
        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);

        column-gap: 1em;
        row-gap: 1em;

        grid-template-areas: 
            "join join quick create"
            "join join history history"
            "stats stats history history";

        .option-join {
            grid-area: join;
        }

        .option-create {
            grid-area: create;
        }

        .option-quick-join {
            grid-area: quick;
        }

        .option-stats {
            grid-area: stats;
        }

        .option-history {
            grid-area: history;
        }
    }
}

// #option__container {
//     overflow: hidden;
//     display: flex;
//     height: 100vh;
//     // align-items: center;
//     justify-content: center;
// }

// @media only screen and (min-width: 320px) and (max-width: 768px) {
//     #option__container {
//         position: relative;
//         overflow-y: scroll;

//     }

//     #option__list {
//         display: flex;
//         flex-direction: column;
//         padding-top: 32px;
//         padding-bottom: 96px;

//         // margin-right: 32px;;
//         height: calc(100% - 96px);
//     }

//     .option__card {

//         margin-bottom: 2rem;

//     }
//     // #option__list {
//     //     width: 100%;
//     //     display: flex;
//     //     flex-direction: column;
//     //     justify-content: center;
//     //     align-items: center;

//     //     list-style: none;
//     //     margin-top: 1em;
//     // }

//     // .option__card {
//     //     box-shadow: inset 0 0 15px rgba(0, 0, 0, .4);
//     //     width: 16em;
//     //     height: 16em;
//     //     margin-bottom: 1em;
//     //     border-radius: .3em;
//     //     background: var(--secondary-background)
//     // }

//     // .option__link {
//     //     font-size: 32px;
//     // }
    
// } 

// @media only screen and (min-width: 769px) {
//     #option__list {
//         // width: auto;
//         // position: absolute;
//         // top: 50%;
//         transform: translateY(-50%);

//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         grid-template-rows: repeat(3, 1fr);

//         grid-template-areas: 
//             "join join stats stats"
//             "join quick create create"
//             "history history create create";

//         // grid-auto-rows: auto;
//         //margin-top: 4em;
//         grid-gap: 1.563em;

//         list-style: none;

//         .option__card {
//             &.option-join {
//                 grid-area: join;
//             }

//             &.option-quick-join {
//                 grid-area: quick;
//             }

//             &.option-stats {
//                 grid-area: stats;
//             }

//             &.option-history {
//                 grid-area: history;
//             }

//             &.option-create {
//                 grid-area: create;
//             }
//             // &.card-medium {
//             //     grid-column: span 1; 
//             //     grid-row: span 2;
//             // }

//             // &.card-wide {
//             //     grid-column: span 1;
//             //     grid-row: span 1;
//             // }
//         }
//     }

//     // .option__card {
//     //     box-shadow: inset 0 0 1.5em rgba(0, 0, 0, .3);
//     //     width: 22em;
//     //     height: 22em;

        
//     //     margin: 2em 1em 1em 1em;
//     //     border-radius: .4em;
//     //     background: var(--secondary-background)
//     // }

//     // .option__link {
//     //     font-size: 36px;
//     // }

//     // .option__label {
//     //     font-size: 24px;
//     // }
// } 