@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="privacy-statement">
    <h1>@ViewData["Title"]</h1>
    <p>Laatst bijgewerkt: 27-10-2023</p>

    <p>ReversiRoyalty (hierna aangeduid als "wij," "onze" of "ons") verbindt zich ertoe de privacy en veiligheid van uw persoonlijke informatie te beschermen. Dit privacybeleid beschrijft onze praktijken met betrekking tot de verzameling, het gebruik en de bescherming van de persoonlijke informatie die u verstrekt wanneer u onze diensten gebruikt.</p>

    <p>Door onze diensten te gebruiken, stemt u in met de beschreven praktijken in dit privacybeleid.</p>

    <h2>Informatie die we verzamelen</h2>
    <ul>
        <li><strong>Gebruikersnamen:</strong> We verzamelen gebruikersnamen om u een identiteit op ons platform te bieden.</li>
        <li><strong>E-mailadressen:</strong> We verzamelen e-mailadressen om communicatie met u mogelijk te maken, belangrijke updates te verstrekken en te helpen bij het herstellen van uw account.</li>
        <li><strong>Wachtwoorden:</strong> We verzamelen wachtwoorden om uw account te beveiligen. Uw wachtwoord wordt veilig gehasht en opgeslagen, en we hebben geen toegang tot uw werkelijke wachtwoord.</li>
        <li><strong>Telefoonnummer:</strong> We verzamelen telefoonnummers om uw account te beveiligen. Uw telefoonnummer kan gebruikt worden om doormiddel van een OTP in te loggen.</li>
    </ul>

    <h2>Hoe we uw informatie gebruiken</h2>
    <ul>
        <li><strong>Gebruikersnamen:</strong> Om u te identificeren op ons platform.</li>
        <li><strong>E-mailadressen:</strong> Om met u te communiceren, updates te verstrekken en te helpen bij het herstellen van uw account.</li>
        <li><strong>Wachtwoorden:</strong> Om uw account te beveiligen en de privacy en veiligheid van uw gegevens te waarborgen.</li>
    </ul>

    <h2>Gegevensbeveiliging</h2>
    <p>We nemen gegevensbeveiliging serieus en hebben redelijke beveiligingsmaatregelen geïmplementeerd om uw persoonlijke informatie te beschermen. Wees echter op de hoogte dat geen enkele methode van gegevensoverdracht via internet of elektronische opslag 100% veilig is. Hoewel we streven naar het gebruik van commercieel aanvaardbare middelen om uw persoonlijke informatie te beschermen, kunnen we de absolute beveiliging niet garanderen.</p>

    <h2>Delen van uw informatie</h2>
    <p>We verkopen, ruilen of verhuren uw persoonlijke informatie niet aan derden. Uw informatie kan alleen worden onthuld in de volgende gevallen:</p>
    <ul>
        <li><strong>Wettelijke verplichting:</strong> We kunnen uw informatie onthullen in reactie op een wettelijke vereiste, gerechtelijk bevel of overheidsverzoek.</li>
        <li><strong>Bescherming van rechten:</strong> We kunnen uw informatie onthullen als we van mening zijn dat dit noodzakelijk is om onze rechten, uw veiligheid of de veiligheid van anderen te beschermen.</li>
    </ul>

    <h2>Uw keuzes</h2>
    <p>U kunt uw accountgegevens, inclusief uw gebruikersnaam en e-mailadres, bijwerken door in te loggen op uw account. U kunt ook contact met ons opnemen om accountverwijdering aan te vragen.</p>

    <h2>Updates van dit privacybeleid</h2>
    <p>We behouden ons het recht voor om dit privacybeleid op elk moment bij te werken. Updates worden op deze pagina geplaatst met de laatst bijgewerkte datum.</p>

    <h2>Contact met ons opnemen</h2>
    <p>Als u vragen of zorgen heeft over dit privacybeleid of uw persoonlijke informatie, neem dan contact met ons op via s1143474@student.windesheim.nl.</p>
</section>