@use '../../abstracts/colors' as clr;
@import '../../abstracts/mixins';

.history {

    &__content {
        width: 90%;
        position: relative;
        margin: 2% 5% 2% 5%;
        display: flex;
    }

    &__centerline {
        position: absolute;
        height: 100%;
    
        width: .2em;

        left: 50%;
        transform: translateX(-50%);

        z-index: -1;
        background-color: clr.$text;
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        margin: 0 10%;
        // padding-top: ;
        width: 80%;
        max-height: 80vh;
        padding: 2% 5%;
        overflow-y: scroll;

        

        &__item {
            position: relative;
            display: flex;

            width: 100%;
            &.left {
                justify-content: flex-start;

                & > section::before {
                    right: 0;
                    transform: translateX(50%) rotate(-45deg);
                }

                & > span {
                    right: 50%;
                    transform: translateX(50%);
                }
            }

            &.right {
                justify-content: flex-end;

                & > section::before {
                    left: 0;
                    
                    transform: translateX(-50%) rotate(-45deg);
                }

                & > span {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &.item-win {
                & > span {
                    outline: .15em solid clr.$yellow;
                    color: clr.$yellow;
                }
            }

            &.item-loss {
                & > span {
                    outline: .15em solid clr.$red;
                    color: clr.$red;
                }
            }

            &.item-draw {
                & > span {
                    outline: .15em solid clr.$blue;
                    color: clr.$blue;
                }
            }

            &.item-stats {
                & > span {
                    outline: .15em solid clr.$purple;
                    color: clr.$purple;
                }
            }

            &:last-child {
               & > div {
                   display: none;
               }
            }

            &__icon {
                @include user-select;
                position: absolute;
                width: 1.875em;
                height: 1.875em;

                text-align: center;

                background-color: clr.$secondarybackground;
                box-shadow: inset 0 0 .3em black;

                border-radius: 50%;

                &.material-icons {
                    line-height: 1.875em;
                }
            }

            &__details {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__title {
                    font-size: var(--fs-600);
                    color: clr.$text;
                }
            }

            p {
                margin: .889rem 0 1.563rem 0;
            }

            &__footer {
                display: flex;
                justify-content: space-between;
                @include user-select;

                &__label {
                    padding: .2rem 1rem;

                    border-color: clr.$secondarybackground;
                    border-radius: 1rem;
                    border: .1em solid;

                    color: clr.$text;
                }
            }

            & > section {
                position: relative;
                background-color: clr.$secondarybackground;

                border-radius: .175rem;

                width: 40%;

                padding: 1rem;
            }

            & > section::before {
                content: '';
                position: absolute;
                height: .925em;
                width: .925em;
                background-color: clr.$secondarybackground;
                top: 1em;
            }

        }
    }
}