@{
    <h1>Monitoring</h1>

    <table>
        <thead>
            <tr>
                <th>
                    Hidden Id
                </th>
                <th>
                    Username
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Email
                </th>
                <th>
                    Status
                </th>
                <th>
                    Operation
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <span class="material-icons">
                    visibility_off
                </span>
            </td>
            <td>
                baas500
            </td>
            <td>
                +316 15077607
            </td>
            <td>
                basschimmel@outlook.com
            </td>
            <td>
                Active
            </td>
            <td>
                <span class="material-icons">
                    delete_outline
                </span>
            </td>
        </tr>
        </tbody>
    </table>
}
