@{
    <div id="monitoring-page">
    @*<li><div class="leftFixed">DIV</div><a href="#">Acura</a><div class="rightFixed">DIV</div></li>*@
    <aside id="monitoring-stats">
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>1504</h4>
                    <span>Total Users</span>
                </div>
                <div class="stats__card__content__right">
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>203</h4>
                    <span>Daily Users</span>
                </div>
                <div class="stats__card__content__right">
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>43</h4>
                    <span>Most Matches Played</span>
                </div>
                <div class="stats__card__content__right">
                    @* <span>Baas500</span> *@
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>22</h4>
                    <span>Most Matches Won</span>
                </div>
                <div class="stats__card__content__right">
                    @* <span>Admin</span> *@
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>22</h4>
                    <span>Most Matches Won</span>
                </div>
                <div class="stats__card__content__right">
                    @* <span>Admin</span> *@
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>22</h4>
                    <span>Most Matches Won</span>
                </div>
                <div class="stats__card__content__right">
                    @* <span>Admin</span> *@
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>22</h4>
                    <span>Most Matches Won</span>
                </div>
                <div class="stats__card__content__right">
                    @* <span>Admin</span> *@
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>22</h4>
                    <span>Most Matches Won</span>
                </div>
                <div class="stats__card__content__right">
                    @* <span>Admin</span> *@
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>22</h4>
                    <span>Most Matches Won</span>
                </div>
                <div class="stats__card__content__right">
                    @* <span>Admin</span> *@
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="stats__card">
            <div class="stats__card__content">
                <div class="stats__card__content__left">
                    <h4>22</h4>
                    <span>Most Matches Won</span>
                </div>
                <div class="stats__card__content__right">
                    @* <span>Admin</span> *@
                    <span class="material-icons">
                        person_outline
                    </span>
                </div>
            </div>
        </div>
    </aside>
    
    <h1>Monitoring</h1>
    <div class="table-box">
    <table id="user__table" class="table">
    <thead class="table-head">
    <tr>
        <th>
            Hidden Id
        </th>
        <th>
            Username
        </th>
        <th>
            Mobile
        </th>
        <th>
            Email
        </th>
        <th>
            Status
        </th>
        <th>
            Operation
        </th>
    </tr>
    </thead>
    <tbody class="table-body">
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            baas500
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            InActive
        </td>
        <td class="user-operations">
            <div class="operations">
                <a asp-controller="Speler" asp-action="MonitoringPlayer" asp-route-id="b3fcebbd-0cd4-480e-b751-6e4be18e4cad">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>
                </a>
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Judy Ibarra
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            InActive
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Madeeha Marsh
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            Active
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Asim Aguilar
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            InActive
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Graeme Griffith
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            Active
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Olli Ortega
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            Active
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Fatimah Lane
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            Active
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Bethanie Lopez
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            InActive
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Jimmy Carr
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            Active
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-cell">
            <span class="material-icons">
                visibility_off
            </span>
        </td>
        <td>
            Nichole Gilmour
        </td>
        <td>
            +316 15077607
        </td>
        <td>
            basschimmel@outlook.com
        </td>
        <td class="user-state">
            Active
        </td>
        <td class="user-operations">
            <div class="operations">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>    
                <span class="material-icons del-user">
                    delete_outline
                </span>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
    <script type="text/javascript">
        window.onload = () => {

            const body = document.getElementsByTagName('body');

            document.addEventListener('touchmove',
                (event) => {
                    console.log('touch', event);
                });
            
            const dialog = document.getElementById("delete-user-dialog");

            const openDialogBtns = document.getElementsByClassName("del-user");
            console.log("DEL:", openDialogBtns);

            Array.prototype.forEach.call(openDialogBtns,
                btn => {
                    btn.addEventListener('click',
                        (event) => {

                            if (typeof dialog.showModal === "function") {
                                dialog.showModal();
                            }
                        });
                });

            const closeDialogBtn = document.getElementById("close__dialog");
            closeDialogBtn.addEventListener('click',
                (event) => {
                    event.preventDefault();

                    dialog.classList.remove('active');
                    dialog.close();
                });
        }
    </script>
    <dialog class="dialog" id="delete-user-dialog">
        <h2>Delete user?</h2>
        <p>In order to delete a user you need to pass a valid reason.</p>
        <form asp-controller="Speler" asp-action="MonitoringPost" method="post">
            <input value="4fd6b994-234a-48dc-b85c-14ef214bdf4c" name="userId" hidden/>
            <div class="input-group">
                <input placeholder="" name="reason" required autocomplete="off"/>
                <label>
                    <span class="material-icons">
                        psychology_alt
                    </span>

                    <span>Reason</span>
                </label>
                @*<p class="foot__note">
                        <span></span>
                    </p>*@
            </div>
            @* TODO: Add a certain amount of standard reasons..*@

            <div>
                @* TODO: Add disable close button when confirm is already clicked.*@
                <button id="close__dialog" class="btn outline-blue w30">Close</button>
                <button class="btn outline-red w30">Confirm</button>
            </div>
        </form>
    </dialog>
    </div>

    </div>
}
