@{
    <div id="monitoring__player__page">
        <div id="monitoring__player__card">
            <div id="monitoring__player__card__changeables">

            </div>
            <div id="monitoring__player__card__profile">
                <h2>Profile</h2>
                <h3>b3fcebbd-0cd4-480e-b751-6e4be18e4cad</h3>
                <hr/>

                <div class="input-group">
                    <input placeholder="" value="Baas500" disabled autocomplete="off"/>
                    <label>
                        <span class="material-icons">
                            psychology_alt
                        </span>

                        <span>Username</span>
                    </label>
                    @*<p class="foot__note">
                        <span></span>
                    </p>*@
                </div>
                
                <div class="input-group">
                    <input placeholder="" value="basschimmel@outlook.com" disabled autocomplete="off"/>
                    <label>
                        <span class="material-icons">
                            psychology_alt
                        </span>

                        <span>Email</span>
                    </label>
                    @*<p class="foot__note">
                        <span></span>
                    </p>*@
                </div>
                
                <div class="input-group">
                    <input placeholder="" value="+316 15177607" disabled autocomplete="off"/>
                    <label>
                        <span class="material-icons">
                            psychology_alt
                        </span>

                        <span>Phone-number</span>
                    </label>
                    @*<p class="foot__note">
                        <span></span>
                    </p>*@
                </div>
            </div>
        </div>
    </div>
}
