@model Application.Spelers.Queries.GetRoles.AssignRolesDTO;

@{
    <div id="monitoring-page">
        <div>
            <h2>Members (@Model.UserCount)</h2>
        </div>
        <h1>Monitoring</h1>
        <div class="table-box">
        <table id="user__table" class="table">
            <thead class="table-head">
                <tr>
                    <th>
                        Hidden Id
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Operation
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
            @foreach (var speler in Model.Users)
            {
                <tr class="table-row">
                    <td class="table-cell">
                        <span class="material-icons">
                            visibility_off
                        </span>
                    </td>
                    <td>
                        @speler.Name
                    </td>
                    <td class="user-operations">
                        <div class="operations">
                            @*<a asp-controller="Speler" asp-action="MonitoringPlayer" asp-route-id="b3fcebbd-0cd4-480e-b751-6e4be18e4cad">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#eee"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z" /></svg>
                            </a>*@
                            <span class="material-icons del-user" user-id="@speler.Guid">
                                delete_outline
                            </span>
                        </div>
                    </td>
                </tr>
            }

            </tbody>
        </table>
        </div>
        <dialog class="dialog" id="delete-user-dialog">
            <h2>Delete user?</h2>
            <p>In order to delete a user you need to pass a valid reason.</p>
            <form asp-controller="Speler" asp-action="MonitoringPost" method="post">
                <input name="userId" hidden/>
                <div class="input-group">
                    <input placeholder="" name="reason" required autocomplete="off"/>
                    <label>
                        <span class="material-icons">
                            psychology_alt
                        </span>

                        <span>Reason</span>
                    </label>
                    @*<p class="foot__note">
                            <span></span>
                        </p>*@
                </div>
                @* TODO: Add a certain amount of standard reasons..*@

                <div>
                    @* TODO: Add disable close button when confirm is already clicked.*@
                    <button id="close__dialog" class="btn outline-blue w30">Close</button>
                    <button id="confirm__delete__user__dialog" class="btn outline-red w30">Confirm</button>
                </div>
            </form>
        </dialog>
     </div>
}
