@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    }
}

<div class="manage__account__container">
    <section class="manage__account__content">
        <partial name="_ManageNav" />
        <div class="manage__account__page">
            @RenderBody()
        </div>
    </section>
    <footer>

    </footer>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
