@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="manage__account__container">
    <header>
        <h2 class="manage__account__title">Manage your account</h2>
    </header>
    <section class="manage__account__content">
        <partial name="_ManageNav" />
        <div class="manage__account__page">
            @RenderBody()
        </div>
    </section>
    <footer>

    </footer>
</div>

@*<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>*@

@section Scripts {
    @RenderSection("Scripts", required: false)
}
