@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="change-password-form" class="account__form" method="post">
    
    <div class="input-group">
        <input asp-for="Input.OldPassword" placeholder=" " autocomplete="password" required/>
        <label asp-for="Input.OldPassword">
            <svg class="material-svg" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z"/>
            </svg>
            <span>Current Password</span>
        </label>

        <span class="show__password__icon material-icons">
            visibility
        </span>

        <span class="hide__password__icon material-icons">
            visibility_off
        </span>

        <p class="foot__note">
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </p>
    </div>
    
    <div class="input-group">
        <input id="register__password" asp-for="Input.NewPassword" placeholder=" " autocomplete="password" required/>
        
        <label asp-for="Input.NewPassword">
            <svg class="material-svg" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z"/>
            </svg>
            <span>New Password</span>
        </label>

        <span class="show__password__icon material-icons">
            visibility
        </span>

        <span class="hide__password__icon material-icons">
            visibility_off
        </span>
        <aside class="password__strength__checker upsidedown">
            <h3>Password must include:</h3>
            <ul>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    12-128 Characters
                </li>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    At least one capital letter
                </li>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    At least one lowercase letter
                </li>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    At least one number
                </li>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    At least one non alphanumeric character
                </li>
            </ul>
        </aside>
        <p class="foot__note">
            <span></span>
            @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
        </p>
    </div>
    
    <div class="input-group">
        <input asp-for="Input.ConfirmPassword" placeholder=" " autocomplete="password" required/>
        <label asp-for="Input.ConfirmPassword">
            <svg class="material-svg" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z"/>
            </svg>
            <span>Confirm New Password</span>
        </label>

        <span class="show__password__icon material-icons">
            visibility
        </span>

        <span class="hide__password__icon material-icons">
            visibility_off
        </span>

        <p class="foot__note">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </p>
    </div>
    
    @*<div class="input-group">
        <input id="register__password" asp-for="Input.ConfirmPassword" placeholder=" " autocomplete="password" required/>
        
        <label asp-for="Input.ConfirmPassword">
            <svg class="material-svg" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z"/>
            </svg>
            <span>Confirm New Password</span>
        </label>

        <span class="show__password__icon material-icons">
            visibility
        </span>

        <span class="hide__password__icon material-icons">
            visibility_off
        </span>
        <aside class="password__strength__checker">
            <h3>Password must include:</h3>
            <ul>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    12-128 Characters
                </li>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    At least one capital letter
                </li>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    At least one lowercase letter
                </li>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    At least one number
                </li>
                <li class="none">
                    <span class="material-icons">
                        close
                    </span>
                    At least one non alphanumeric character
                </li>
            </ul>
        </aside>
        <p class="foot__note">
            <span></span>
             <span asp-validation-for="Input.Password" class="text-danger"></span>
        </p>
    </div>*@
    
    
    

    @*<label class="custom-field user-field">
        <input asp-for="Input.OldPassword"/>
        <span asp-for="Input.OldPassword" class="placeholder">Current Password</span>
        <span class="border"></span>
    </label>

    <label class="custom-field account__form-2-1">
        <input asp-for="Input.NewPassword"/>
        <span asp-for="Input.NewPassword" class="placeholder">New Password</span>
        <span class="border"></span>
    </label>

    <label class="custom-field account__form-2-2">
        <input asp-for="Input.ConfirmPassword"/>
        <span asp-for="Input.ConfirmPassword" class="placeholder">Confirm New Password</span>
        <span class="border"></span>
    </label>*@

    <button type="submit" class="btn outline-blue w30">Update password</button>

@*    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>*@
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
@* <div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}