@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>



<div>
    <div class="alert alert-warning" role="alert">
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
    </div>

    <form id="delete-user" method="post" class="form-group">
        @if (Model.RequirePassword)
        {
            <div class="input-group">
                <input asp-for="Input.Password" placeholder=" " required autocomplete="password"/>

                <label asp-for="Input.Password">
                    <svg class="material-svg" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z"/>
                    </svg>
                    <span>Password</span>
                </label>
                <p class="foot__note">
                    <span asp-validation-for="Input.Password"></span>
                </p>
            </div>
        }
        <button class="btn outline-red w40" type="submit">Delete data and close my account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}