@font-face {
  font-family: "Poppins", "Ubuntu", sans-serif;
  src: url();
}
:root {
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}

.card {
  height: auto;
  width: 100%;
  background-color: #262421;
  border-radius: 0.425rem;
  padding: 1.125rem;
  height: auto;
  transition: height 1.3s ease;
  box-shadow: 0 0.893rem 0.893rem 0.256rem rgba(0, 0, 0, 0.4);
}
.card--w-33 {
  width: 33%;
  transition: height 1.3s ease, min-height 1.3s ease, max-height 1.3 ease;
}
.card__header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__header__title {
  font-weight: 500;
  font-size: var(--fs-700);
  color: var(--text-color);
  letter-spacing: 0.125rem;
}
.card__header__subtitle {
  font-weight: 700;
  font-size: var(--fs-400);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #01A2E9;
  line-height: 0.1em;
  margin: 1.125rem 0 2.441rem;
}
.card__header__subtitle span {
  padding: 0 1rem;
  background-color: #262421;
}
.card__content {
  transition: height 1.3s ease;
}
.card__footer-center {
  border-top: 0.1em solid #01A2E9;
  margin-top: 2.441rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__footer-center a {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #51576E;
  opacity: 0.8;
}
.card__footer-center a:hover {
  color: #eee;
}
.card__footer-center a svg {
  margin-left: 1rem;
  width: 1.563rem;
  height: 1.563rem;
}

.input-group {
  width: 100%;
  margin: 1.563rem 0;
  position: relative;
}
.input-group input {
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  color: #eee;
  background-color: #171613;
  font-size: var(--fs-400);
  outline: 0;
  border: none;
  border-radius: 0.175rem;
}
.input-group label {
  position: absolute;
  top: calc(50% - 1.95rem);
  left: 1rem;
  font-size: var(--fs-400);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: text;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.3s ease, left 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}
.input-group label .material-icons,
.input-group label .material-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: inherit;
  padding-top: 0.1rem;
  margin-right: 0.375rem;
}
.input-group input:valid + label,
.input-group input:not(:placeholder-shown):not(:focus):invalid + label,
.input-group input:focus + label {
  position: absolute;
  top: -1.25rem;
  left: 0.875rem;
  color: #01A2E9;
  font-size: var(--fs-500);
}
.input-group input:valid + .material-svg,
.input-group input:not(:placeholder-shown):not(:focus):invalid + .material-svg,
.input-group input:focus + .material-svg {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  top: -1.25rem;
  left: 0.875rem;
  color: #01A2E9;
  font-size: var(--fs-500);
}
.input-group .foot__note {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-top: 0.56rem;
}
.input-group .foot__note > span:empty {
  height: 1.5rem;
}
.input-group .foot__note > span > span {
  color: #DA3D2D;
  animation: fadeIn 0.67s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.input-group .foot__note a {
  outline: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #51576E;
}
.input-group .foot__note a svg {
  width: 1.5rem;
  height: 1.5rem;
  size: 1rem;
}

.custom-field {
  width: 100%;
  margin: 1.563rem 0;
  position: relative;
  font-size: var(--fs-400);
}
.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #171613;
  width: 100%;
  margin: 2rem 0;
  padding: 1.125rem;
  border-radius: 0.2rem;
  outline: none;
  font-size: var(--fs-400);
  color: #eee;
}
.custom-field input:disabled {
  color: #51576E;
}
.custom-field input:disabled ~ .placeholder {
  color: #51576E;
  top: 1.953rem;
  font-size: 2.441rem;
}
.custom-field .placeholder {
  position: absolute;
  left: 1.125em;
  top: calc(50% + 1.563em);
  transform: translateY(-50%);
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.custom-field input:valid:focus + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:valid + .placeholder {
  top: 0.892rem;
  font-size: var(--fs-300);
  color: #01A2E9;
}
.custom-field .border {
  width: 100%;
  height: calc(100% - 0.892rem);
  position: absolute;
  left: 0;
  top: 1.953rem;
  border-radius: 0.15em;
}

.input__group-button {
  min-width: 2em;
  position: relative;
  right: 0;
  left: 0;
}
.input__group-button label {
  position: absolute;
  top: calc(50% - 0.9rem);
  left: 1rem;
  font-size: var(--fs-400);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: text;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.3s ease, left 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}
.input__group-button label .material-icons,
.input__group-button label .material-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: inherit;
  padding-top: 0.1rem;
  margin-right: 0.375rem;
}
.input__group__text {
  display: inline-block;
  position: relative;
  background-color: #262421;
  color: #eee;
  width: calc(100% - 3.56rem);
  font-size: var(--fs-400);
  outline: none;
  border: none;
  border-radius: 0.175rem;
  padding: 1rem;
  margin-right: 2em;
}
.input__group__text:valid + label, .input__group__text:not(:placeholder-shown):not(:focus):invalid + label, .input__group__text:focus + label {
  position: absolute;
  top: -0.875rem;
  left: 0.875rem;
  color: #01A2E9;
  font-size: var(--fs-300);
}
.input__group__button {
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: #01A2E9;
  color: #eee;
  font-size: var(--fs-400);
  font-family: "Poppins", "Ubuntu", sans-serif;
  letter-spacing: 0.05em;
  outline: none;
  border: none;
  border-radius: 0.175rem;
  transition: 0.3s;
  height: 100%;
  aspect-ratio: 1/1;
}
.input__group__button:hover {
  transform: scale(1.05);
}
.input__group__button:active {
  transform: scale(0.95);
}
.input__group .foot__note {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-top: 0.56rem;
}
.input__group .foot__note > span:empty {
  height: 1.5rem;
}
.input__group .foot__note > span > span {
  color: #DA3D2D;
  animation: fadeIn 0.67s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.input__group .foot__note a {
  outline: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #51576E;
}
.input__group .foot__note a svg {
  width: 1.5rem;
  height: 1.5rem;
  size: 1rem;
}

.btn {
  background-color: var(--highlight-blue);
  color: white;
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  font-family: "Poppins", "Ubuntu", sans-serif;
  box-shadow: 0px 5px 10px black;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 0.2rem;
}
.btn:hover {
  box-shadow: 0px 0.3rem 0.6rem -0.1rem black;
  transform: scale(1.03);
}
.btn:active {
  box-shadow: 0px 0.1rem 0.2rem black;
  transform: scale(0.991);
}
.btn__80 {
  width: 80%;
}

.game__card {
  position: relative;
  background-color: #262421;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.175rem;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0.5);
}
.game__card__action__title {
  display: none;
}
.game__card__player__info {
  height: 100%;
}
.game__card__game__info {
  width: 65%;
}
.game__card.wide {
  position: relative;
  grid-row: span 1;
  grid-column: span 2;
  border: 0.1em solid #01A2E9;
}
.game__card.wide:hover > div {
  backdrop-filter: blur(3px);
}
.game__card.wide:hover > div > p {
  display: flex;
  position: absolute;
}
.game__card.wide > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5em;
}
.game__card.wide > div:first-of-type {
  align-items: center;
}
.game__card.wide > div > h2 {
  text-align: center;
}
.game__card.wide > div > p {
  display: none;
}
.game__card.wide > div > div {
  display: flex;
  justify-content: space-evenly;
}
.game__card.wide > div > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__card.tall {
  grid-row: span 2;
  grid-column: span 1;
  border: 0.1em solid #A279EF;
  --card-display: none;
}
.game__card.small {
  grid-row: span 1;
  grid-column: span 1;
  border: 0.1em solid #A2E901;
  --card-display: none;
}
.game__card.medium {
  grid-row: span 2;
  grid-column: span 2;
  border: 0.1em solid #DA3D2D;
  --card-display: none;
}
.game__card.show {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in, transform 0.4s ease-in;
}
.game__card__game__info {
  display: var(--card-display);
}

::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #262421;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 0.1em solid #A279EF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A279EF;
}

#login__container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

#page__content {
  position: relative;
  margin: 2% 10% 5% 10%;
  height: 100vh;
  width: 80%;
}

.open__game__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 30%;
  grid-auto-flow: dense;
  grid-gap: 1.225em;
  height: 80%;
  padding: 0 3%;
  overflow-y: scroll;
}

.game__ownedboardbalance {
  position: absolute;
  width: 100%;
  height: 1.563rem;
  top: -3.842rem;
  box-shadow: 0px 0px 0.1rem black;
}
.game__ownedboardbalance__player-1 {
  position: absolute;
  width: 55%;
  height: 100%;
  background-color: #DA3D2D;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
.game__ownedboardbalance__player-2 {
  position: absolute;
  width: 55%;
  height: 100%;
  right: 0;
  background-color: #01A2E9;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}
.game__page {
  position: absolute;
  width: 67%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__container {
  position: relative;
  z-index: 4;
  aspect-ratio: 1/1;
  width: 62%;
  background-color: #262421;
  box-shadow: 0 0 1rem 0.2rem #171613;
}
.game__container__board {
  position: absolute;
  width: 100%;
  height: 100%;
}
.game__container__board__row {
  display: flex;
  flex-direction: row;
  height: 12.5%;
  justify-content: space-evenly;
}
.game__container__board__col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 0.45em solid #171613;
}
.game__container__board__cell {
  width: 100%;
  height: 100%;
  background-color: red;
}
.game__container__board__cell.fiche {
  width: 100%;
  height: 100%;
  clip-path: circle(45% at 50% 50%);
  position: relative;
}
.game__container__board__cell.fiche-white {
  background-color: white;
}
.game__container__board__cell.fiche-white:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  box-shadow: inset 0 0 0.3em grey;
}
.game__container__board__cell.fiche-black {
  background-color: black;
}
.game__container__board__cell.fiche-black:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0.3em #51576E;
}
.game__container__board__cell.fiche-empty {
  background-color: transparent;
}
.game__player__info {
  width: 33%;
  height: 18rem;
  background-color: #262421;
  color: #eee;
  margin-bottom: 3.056rem;
  box-shadow: inset 0px 0px 10px 2px #171613;
}
.game__player__content {
  width: calc(100% - 3.926rem);
  height: calc(100% - 3.926rem);
  margin: 1.963rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.game__player__name {
  width: 12ch;
  position: relative;
  padding-left: 0.256rem;
  padding-right: 0.256rem;
  text-align: center;
  font-size: var(--fs-600);
  letter-spacing: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
}
.game__player__name-highlighted {
  border-radius: 0.1 0.125rem;
  border: 0.2rem solid;
  border-color: #01A2E9;
  animation: playerHighlighted 5s ease infinite;
}
.game__player__score {
  width: 100%;
  font-size: var(--fs-500);
  letter-spacing: 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__player__score__icon {
  width: 16%;
  aspect-ratio: 1/1;
}
.game__player__interaction {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
}
.game__introduction {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  animation: alphaFade 5.5s linear;
}
@keyframes alphaFade {
  0% {
    z-index: 101;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
  }
  90% {
    z-index: 101;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
  }
  100% {
    z-index: 101;
    background-color: transparent;
    display: none;
  }
}
.game__introduction-left {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 25%;
  left: -100%;
  background-color: #DA3D2D;
  transform: translateY(-50%);
  clip-path: polygon(50% 0, 65% 50%, 85% 50%, 100% 100%, 0 100%, 0 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: fadeInLeft 5s ease;
}
.game__introduction-left h2 {
  color: #eee;
  font-size: var(--fs-800);
  overflow: hidden;
  white-space: nowrap;
  width: 12ch;
  margin-left: calc(33% + 1.125rem);
}
@keyframes fadeInLeft {
  0% {
    left: -100%;
  }
  15% {
    left: -23%;
  }
  18% {
    left: -33%;
  }
  82% {
    left: -33%;
  }
  85% {
    left: -23%;
  }
  100% {
    left: -100%;
  }
}
@keyframes fadeInRight {
  0% {
    right: -100%;
  }
  15% {
    right: -23%;
  }
  18% {
    right: -33%;
  }
  82% {
    right: -33%;
  }
  85% {
    right: -23%;
  }
  100% {
    right: -100%;
  }
}
.game__introduction-vs {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  font-size: var(--fs-800);
}
.game__introduction-right {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 25%;
  right: -100%;
  background-color: #01A2E9;
  transform: translateY(-50%);
  clip-path: polygon(15% 50%, 0 0, 100% 0, 100% 100%, 50% 100%, 40% 50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: fadeInRight 5s ease;
}
.game__introduction-right h2 {
  position: absolute;
  color: #eee;
  font-size: var(--fs-800);
  overflow: hidden;
  white-space: nowrap;
  width: 12ch;
  right: 0;
  margin-right: calc(33% + 1.125rem);
}

@keyframes playerHighlighted {
  0% {
    border-color: #DA3D2D #A279EF #FDB702 #DA702D;
  }
  16% {
    border-color: #DA702D #DA3D2D #A2E901 #FDB702;
  }
  33% {
    border-color: #FDB702 #DA702D #01A2E9 #A2E901;
  }
  50% {
    border-color: #A2E901 #FDB702 #A279EF #01A2E9;
  }
  67% {
    border-color: #01A2E9 #A2E901 #DA3D2D #A279EF;
  }
  84% {
    border-color: #A279EF #01A2E9 #DA702D #DA3D2D;
  }
  100% {
    border-color: #DA3D2D #A279EF #FDB702 #DA702D;
  }
}
.option__card {
  box-shadow: inset 0 0 1.5em rgba(0, 0, 0, 0.3);
  border-radius: 0.4em;
  background-color: #262421;
}
.option__card .option__link {
  font-size: var(--fs-700);
}
.option__card .option__link.link-yellow {
  color: #FDB702;
}
.option__card .option__link.link-blue {
  color: #01A2E9;
}
.option__card .option__link.link-green {
  font-size: var(--fs-500);
  color: #A2E901;
}
.option__card .option__link.link-pink {
  font-size: var(--fs-500);
  color: #FE4EDA;
}
.option__card .option__label {
  font-size: var(--fs-500);
}
.option__card.card-medium {
  width: 22em;
  height: 22em;
}
.option__card.card-wide {
  width: 22em;
  height: 11em;
}

#option__container {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #option__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 1em;
  }

  .option__card {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
    width: 16em;
    height: 16em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    background: var(--secondary-background);
  }

  .option__link {
    font-size: 32px;
  }
}
@media only screen and (min-width: 769px) {
  #option__list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1.563em;
    list-style: none;
  }
  #option__list .option__card.card-medium {
    grid-column: span 1;
    grid-row: span 2;
  }
  #option__list .option__card.card-wide {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.create__game__content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create__game__content form {
  position: relative;
  width: 80%;
}
.create__game__title {
  position: relative;
  color: #eee;
  font-size: var(--fs-800);
  text-align: center;
}
.create__game__title__span {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: var(--fs-400);
  display: flex;
  justify-content: center;
  align-items: center;
}
.create__game__title__span:before {
  color: #01A2E9;
  content: attr(text-before);
  position: absolute;
  left: 16%;
  top: 25%;
  transform: rotate(-35deg) translateY(0);
}
.create__game__title__span:after {
  color: #A279EF;
  content: attr(text-after);
  position: absolute;
  left: 25%;
  top: 2%;
  transform: rotate(-35deg) translateY(0);
}
.create__game__subtitle {
  margin: 2.554rem 0 1.563rem;
  color: #eee;
  letter-spacing: 0.05em;
  text-align: center;
}
.create__game__back {
  margin-top: 0.56rem;
}
.create__game__back a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #51576E;
  transition: 0.3s;
}
.create__game__back a > span {
  margin-right: 0.5rem;
}
.create__game__back a > p {
  font-size: var(--fs-300);
}
.create__game__back a:hover {
  color: #A279EF;
}

.history__content {
  width: 90%;
  position: relative;
  margin: 2% 5% 2% 5%;
  display: flex;
}
.history__centerline {
  position: absolute;
  height: 100%;
  width: 0.2em;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: #eee;
}
.history__list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  margin: 0 10%;
  width: 80%;
  max-height: 80vh;
  padding: 2% 5%;
  overflow-y: scroll;
}
.history__list__item {
  position: relative;
  display: flex;
  width: 100%;
}
.history__list__item.left {
  justify-content: flex-start;
}
.history__list__item.left > section::before {
  right: 0;
  transform: translateX(50%) rotate(-45deg);
}
.history__list__item.left > span {
  right: 50%;
  transform: translateX(50%);
}
.history__list__item.right {
  justify-content: flex-end;
}
.history__list__item.right > section::before {
  left: 0;
  transform: translateX(-50%) rotate(-45deg);
}
.history__list__item.right > span {
  left: 50%;
  transform: translateX(-50%);
}
.history__list__item.item-win > span {
  outline: 0.15em solid #FDB702;
  color: #FDB702;
}
.history__list__item.item-loss > span {
  outline: 0.15em solid #DA3D2D;
  color: #DA3D2D;
}
.history__list__item.item-draw > span {
  outline: 0.15em solid #01A2E9;
  color: #01A2E9;
}
.history__list__item.item-stats > span {
  outline: 0.15em solid #A279EF;
  color: #A279EF;
}
.history__list__item:last-child > div {
  display: none;
}
.history__list__item__icon {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  user-select: none;
  position: absolute;
  width: 1.875em;
  height: 1.875em;
  text-align: center;
  background-color: #262421;
  box-shadow: inset 0 0 0.3em black;
  border-radius: 50%;
}
.history__list__item__icon.material-icons {
  line-height: 1.875em;
}
.history__list__item__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.history__list__item__details__title {
  font-size: var(--fs-600);
  color: #eee;
}
.history__list__item p {
  margin: 0.889rem 0 1.563rem 0;
}
.history__list__item__footer {
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  user-select: none;
}
.history__list__item__footer__label {
  padding: 0.2rem 1rem;
  border-color: #262421;
  border-radius: 1rem;
  border: 0.1em solid;
  color: #eee;
}
.history__list__item > section {
  position: relative;
  background-color: #262421;
  border-radius: 0.175rem;
  width: 40%;
  padding: 1rem;
}
.history__list__item > section::before {
  content: "";
  position: absolute;
  height: 0.925em;
  width: 0.925em;
  background-color: #262421;
  top: 1em;
}

.home__stats {
  position: absolute;
  top: 0;
  right: 0;
  height: 24em;
  margin: 6.052rem 2.445rem 0 0;
}
.home__stats__card {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  user-select: none;
  position: relative;
  width: 16em;
  height: 24em;
  background: #262421;
  border-radius: 0.312rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__stats__card > span {
  position: absolute;
  top: -0.6em;
  left: -0.6em;
  width: 8em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home__stats__card > span::before {
  content: attr(data-title);
  position: absolute;
  top: 42%;
  width: 150%;
  height: 30%;
  background-color: #01A2E9;
  transform: rotate(-45deg) translateY(-1.563em);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #eee;
  letter-spacing: 0.1em;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}
.home__stats__card > span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #01A2E9;
  opacity: 0.4;
  z-index: -1;
  box-shadow: calc(8em - 10px) calc(-8em + 10px) #01A2E9;
}
.home__stats__list {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--fs-400);
  letter-spacing: 0.1em;
}
.home__stats__list__item {
  width: 80%;
  display: flex;
  justify-content: space-around;
  background-color: #171613;
  color: #eee;
  padding: 0.3em;
}
.home__stats__list__item > span,
.home__stats__list__item > svg {
  display: flex;
  justify-content: center;
  align-items: center;
}