@use '../abstracts/colors' as clr;
@import '../abstracts/mixins';

.home__stats {
    position: absolute;
    
    top: 0;
    right: 0;
    height: 24em;

    margin: 6.052rem 2.445rem 0 0;

    &__card {
        @include user-select;

        position: relative;
        width: 16em;
        height: 24em;
        background: clr.$secondarybackground;
        border-radius: .312rem;

        display: flex;
        justify-content: center;
        align-items: center;

        > span {
            position: absolute;
            top: -.6em;
            left: -.6em;
            width: 8em;
            height: 8em;
            // background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &::before {
                content: attr(data-title);
                position: absolute;
                top: 42%;
                width: 150%;
                height: 30%;
                background-color: clr.$blue;
                transform: rotate(-45deg) translateY(-1.563em);
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-weight: 600;
                color: clr.$text;
                letter-spacing: 0.1em;
                box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.1);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: clr.$blue;
                opacity: .4;
                z-index: -1;
                box-shadow: calc(8em + -10px) calc(-8em + 10px) clr.$blue
                //box-shadow: calc(8em - 10px) -calc(8em - 10px) red;
            }
        }
    }

    &__list {
        list-style: none;
        
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        font-size: var(--fs-400);
        letter-spacing: .1em;
        
        &__item {
            width: 80%;

            display: flex;
            justify-content: space-around;

            background-color: clr.$background;
            color: clr.$text;

            padding: .3em;

            > span,
            > svg {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
