.home__board {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotate(-25deg) skew(25deg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
/*    overflow: hidden;
*/}

@media only screen and (min-width: 320px) {
    .home__board > div {
        position: relative;
        list-style: none;
        width: 1.5em;
        height: 1.5em;
        margin: 0 .1em;
        margin-bottom: .2em;
    }

    .home__board div span {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 481px) {
    .home__board > div {
        position: relative;
        list-style: none;
        width: 2.1em;
        height: 2.1em;
        margin: 0 .15em;
        margin-bottom: .3em;
    }

    .home__board div span {
        font-size: 18px !important;
    }
}

@media only screen and (min-width: 769px) {
    .home__board > div {
        position: relative;
        list-style: none;
        width: 2.5em;
        height: 2.5em;
        margin: 0 .175em;
        margin-bottom: .35em;
    }

    .home__board div span {
        font-size: 24px !important;
    }
}

@media only screen and (min-width: 1025px) {
    .home__board > div {
        position: relative;
        list-style: none;
        width: 3.2rem;
        height: 3.2rem;
        margin: 0 .2em;
        margin-bottom: .4em;
    }

    .home__board div span {
        font-size: 30px !important;
    }
}

.home__board div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    /*animation: backgroundKeys 2s linear infinite;*/
    background: #333;
    color: rgba(255, 255, 255, 1);
    user-select: none;
}

.home__board div:hover span {
    z-index: 1000;
    transition: 0.5s;
    color: #000;
/*    background: white;
*//*    animation: highlighKeys 6s infinite linear;
*/    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.home__board-animation {
    animation: highlighKeys 6s infinite linear;
}

.delay-1 {
    animation-delay: 1s;
    animation-duration: 5s;
}

.delay-2 {
    animation-delay: 2s;
    animation-duration: 5s;
}

.delay-3 {
    animation-delay: 3s;
    animation-duration: 5s;
}

.delay-4 {
    animation-delay: 4s;
    animation-duration: 5s;
}

.home__board div:hover span:nth-child(5) {
    -webkit-transform: translate(40px, -40px);
    transform: translate(40px, -40px);
    clip-path: circle(50% at 50%);
    opacity: 1;
}

.home__board div:hover span:nth-child(4) {
    -webkit-transform: translate(30px, -30px);
    transform: translate(30px, -30px);
    clip-path: circle(40%);
    opacity: 0.8;
}

.home__board div:hover span:nth-child(3) {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
    clip-path: circle(30%);
    opacity: 0.6;
}

.home__board div:hover span:nth-child(2) {
    -webkit-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    clip-path: circle(20%);
    opacity: 0.4;
}

.home__board div:hover span:nth-child(1) {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 0.2;
}

@keyframes highlighKeys {
    0% {
        background: var(--highlight-red);
    }

    20% {
        background: var(--highlight-orange);
    }

    40% {
        background: var(--highlight-yellow);
    }

    60% {
        background: var(--highlight-blue);
    }

    80% {
        background: var(--highlight-purple);
    }

    100% {
        background: var(--highlight-red);
    }
}

@keyframes backgroundKeys {
    0% {
        background: #eee;
    }

    45% {
        background: #333;
    }

    60% {
        background: #eee;  
    }
}

/*board span:nth-child(odd) {
    background: #eee;
}

.board span:nth-child(even) {
    background: #000;
}*/