/* #open__game__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
} */

/* .game__card {
    position: relative;
    background: var(--secondary-background);

    width: 22rem;
    margin: .5em .5em;
    border-radius: .3em;

    display: grid;
    grid-template-columns: 2em 10fr 10fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "body body body"
        "body body body"
        "body body body"
        "space footer footer";
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .3);
    transition: 0.3s;

    text-decoration: none;

    -webkit-tap-highlight-color: transparent;   

    -webkit-user-select: none;
    user-select: none;
} */

/* .card__action__title {
    position: absolute;
    display: none;
    
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 2em;
   
    color: var(--highlight-blue);
}

.game__card:hover {
    transform: scale(1.1);
}

.game__card:hover > .card__action__title {
    display: flex;
    
    backdrop-filter: blur(3px);
}


.game__card__description {
    grid-area: body;

    display: flex;
    justify-content: flex-start;
    margin: .5em 0 0 .7em;

    color: var(--text-color);
}

.game__card__from {
    grid-area: footer;

    display: flex;
    justify-content: flex-end;
    margin: 0 .5em .4em 0;

    color: #777;

    font-size: 14px;
}

.nothingfound {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: var(--text-color);
}*/

/* ----- Options View ----- */

/* #option__container {
    overflow: hidden;
} */

.option__card {
    transition: 0.5s;
}

/* #option__join {
    color: var(--highlight-yellow);
}

#option__create {
    color: var(--highlight-blue);
} */

.option__link {
    position: relative;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option__label {
    transition: 0.5s;
    color: var(--text-color);
}

.option__title {
    transition: 0.5s;
}

.option__card:hover {
    transform: scale(1.1);
}

.option__card:hover .option__title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

/* @media only screen and (min-width: 320px) and (max-width: 768px) {
    #option__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        list-style: none;
        margin-top: 1em;
    }

    .option__card {
        box-shadow: inset 0 0 15px rgba(0, 0, 0, .4);
        width: 16em;
        height: 16em;
        margin-bottom: 1em;
        border-radius: .3em;
        background: var(--secondary-background)
    }

    .option__link {
        font-size: 32px;
    }
    
}  */

 /* @media only screen and (min-width: 769px) {
    #option__list {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-top: 4em;

        list-style: none;
    }

    .option__card {
        box-shadow: inset 0 0 1.5em rgba(0, 0, 0, .3);
        width: 22em;
        height: 22em;

        
        margin: 2em 1em 1em 1em;
        border-radius: .4em;
        background: var(--secondary-background)
    }

    .option__link {
        font-size: 36px;
    }

    .option__label {
        font-size: 24px;
    }
}  */

