@use '../../abstracts/colors' as clr;
@import '../../abstracts/mixins';

.mobile__choose__action__container {
    position: absolute;

    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;

    @include for-phone-only {
        position: fixed;
        z-index: 121;

        display: flex;
        flex-direction: column;

        align-items: center;
        width: 100%;
        min-height: -webkit-fill-available;
        background-color: clr.$background;

        text-align: center;

        .card {
            display: none;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100%;
            color: clr.$text;

            margin: 1.556em;

            & > h1 {
                color: clr.$text;
                letter-spacing: .1em;
            }

            & > p {
                text-align: center;
            }

            &__authenticate {
                position: absolute;
                bottom: 0;

                display: flex;
                justify-content: space-between;

                width: 90%;
                // margin-right: 5%;
                margin-bottom: 1.566em;
                padding: 1em;

                background-color: clr.$secondarybackground;

                border-radius: .3em;
            }
        }
    }
}