@import '../../abstracts/mixins';
.register-email {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center;
    font-size: 1.5em;
}
#register__container {
    position: absolute;

    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;

    form {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    @include for-phone-and-tablet-small {
        top: 45%;

        .card__progress {
            display: none;
        }
    }
}

.grecaptcha-badge {
    bottom: 14px;
    transition: bottom .3s ease;

    @include for-phone-and-tablet-small {
        bottom: 72px !important;
    }
}

#register__actions {
    display: flex;
    justify-content: space-between;

    .link {
        margin: auto 0;
    }
}

// #register__container {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     border: 1px solid white;
// }

// #register__user > form {
//     position: absolute;
//     height: auto;
// }