@use '../../abstracts/colors' as clr;
@import '../../abstracts/mixins';

::-webkit-input-placeholder {
    color: inherit;
    opacity: .7;
}

::-moz-placeholder {
    color: inherit;
    opacity: .7;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: .7;
}

:-moz-placeholder {
    color: inherit;
    opacity: .7;
}

#twofa__login {
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: block;
        background-color: clr.$secondarybackground;
        width: 320px;
        min-height: 400px;
        border-radius: .5em;
        margin: 0 auto;
        padding: 30px;
    }

    &__form {
        display: block;

        h1 {
            position: relative;
            display: inline-block;
            color: clr.$text;
            font-size: 2em;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 20px;
            padding: 0;

            &:after {
                content: '';
                display: block;
                background: clr.$text;
                height: 3px;
                width: 50%;
                margin: 20px auto 0;
                padding: 0;
            }
        }

        & > a {      
            display: flex;
            justify-content: center;

            color: rgba(clr.$text, .5);

            transition: .3s color;
            letter-spacing: .05em;
            font-weight: 400;

            text-underline-offset: 3px;
            &:hover {
                color: clr.$purple;
            }
        }

        &__buttons {
            display: flex;
            justify-content: flex-end;

            margin: 20px 0;
        }

        &__pincode {
            margin: 10px 0 0;
            display: block;
            width: 100%;
            margin: 10px auto 20px;
            padding: 0;

            &:before,
            &:after {
                display: table;
                content: '';
            }

            &:after {
                clear: both;
            }

            & > label {
                display: block;
                text-align: center;
                margin: 10px 0;
            }

            & > input {
                display: inline-block;
                float: left;
                width: 15%;
                height: 50px;
                line-height: 48px;
                text-align: center;
                font-size: 2em;
                color: clr.$text;
                border: 0;
                border-bottom: 2px solid rgba(clr.$text, .3);
                border-radius: 2px 2px 0;
                background-color: clr.$background;
                .valid {
                    background-color: clr.$green;
                }
                
                .Invalid {
                    background-color: clr.$red;
                }
                transition: background-color .3s, color .3s, opacity .3s;
                cursor: default;
                @include user-select;
                margin: 0;
                margin-top: 10px;
                margin-right: 2%;
                padding: 0;

                &:focus {
                    outline: 0;
                    box-shadow: none;
                    border-color: clr.$blue;
                    animation: border-pulsate 2.8s infinite;
                    -webkit-tap-highlight-color: transparent;
                }

                &:last-child {
                    margin-right: 0;
                }

                
                &[disabled] {
                    background-color: clr.$disabled;
                    opacity: 1;
                }
            }
            // & > input {
            //     background-color: #eb3b3b;

            //     & [disabled] {
            //         background-color: #eb3b3b;
            //         color: #fff;
            //     }
            // }

            

        }

        .checkbox {
            & label {
                cursor: pointer;

                & input {
                    cursor: inherit;
                }
            }
        }
    }
}



@keyframes border-pulsate {
    0% {
        border-color: rgba(clr.$blue, 1);
    }
    50% {
        border-color: rgba(clr.$background, .3);
    }
    100% {
        border-color: rgba(clr.$blue, 1)
    }
}